/** {outline :1px solid red;
}*/
body,html {
 margin: 0;
 width: 100%;
 font-family: 'Lato', sans-serif;
 }



h3{
font-size: 2vw;
margin-top: 0;
padding: 0;
transform: scaleY(0.7);
}

img {
 width: 100%;
 height: auto;
}

a {
  text-decoration: none;
  color: #2d3c49;
  margin-top: 0;
  display: inline-block;
 /*font-size: 2.5vh;*/
 max-width: 100%;
 word-wrap: break-word;
}

a:link, a:visited{
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.content {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 margin-left: auto;
 margin-right: auto;
}

.header {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 border-bottom: solid medium #bcbbbb;
 margin-bottom: 2%;
}

.header_logo {
 width: 50%;
 margin-top: 25px;
 margin-bottom: 0;
 padding: 0;
}

.logo {
 width: 100%;
 margin: 0;
 padding: 0;
}

.header_title {
 width: 50%;
 color: #2d3c49;
 text-align: right;
 text-transform: uppercase;
 margin-top: 25px;
 padding: 0;
 display: block;
 }

 .main_title{
   width: 100%;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
 }

 .txt,.inner_text{
  font-size: 1em;
  font-weight: 400;
  /*transform: scaleY(0.7);*/
 }


.big_image {
 width: 100%;
}

.featured_text {
 width: 100%;
 color: #7d97ad;
}

.inner_text {
 margin-left: 8px;
 margin-bottom: 20px;
}

figure{
 margin: auto 0;
}

.images {
 display: flex;
 flex-wrap: wrap;
 }

 .image_list{
   margin-right: 30px;
   width: calc((100% - 60px)/3);
   }

   .sqr_img{
      width:100%;
      height: auto;
      overflow: hidden;
         }

 /*  .img_ht{
     height: auto;
     overflow: hidden;
   }


.image_list {
 margin-right:30px;
 width: calc((100% - 60px)/3);
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 /*margin-right: 3.5%;
 margin-bottom: 4%;
}

.image_list:nth-child(3n+0) {
 margin-right: 0;
}*/

.image_list:nth-of-type(3n){
 margin-right: 0;
}

.image_list:nth-of-type(3n+1){
 margin-left: 0;
}

/*.img_ht{
 display: flex;
 flex-direction: column;
 height: 100%;
}

.img_content{
 width: 100%;
 flex: 1 0 auto;
}*/

.txt {
 text-align: center;
 color: #2d3c49;
 margin: 0;
}

.txt.txt1 {
 color: #2d3c49;
 text-transform: uppercase;
 margin-top: 0;
}

.txt.txt2 {
 margin: 0;
 font-weight: bold;
}

/*.txt.txt3{
 margin: 0;
}*/

.modal {
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0.4);
}

.modal-content {
 background-color: #FEFEFE;
 width: 80%;
 border: 1px solid #888;
}

.close {
 color: #aaaaaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

@media screen and (max-width:425px) {
 body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 /* font-size: 50%;*/
    }

  h2{
    font-size: 3.9vw;
  }

  h3{
    font-size: 2.7vw;
  }

  a{
    font-size: 3vw;
  }
    /*.image_list {
      margin-right: 40px;
      width: calc((100%-40px)/2);
      margin-bottom: 40px;
           }*/

   .image_list:nth-of-type(odd) {
     margin-right: 40px;
     margin-left: 0;
     width: calc((100%-40px)/2);
      }

   .image_list:nth-of-type(even) {
     margin-right: 0;
     width: calc((100%-40px)/2);
      }

 }

@media screen and (min-width:426px) and (max-width:768px) {
 body {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }

 }

@media screen and (min-width:769px) {
 body {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   /*font-size: 120%;*/
 }

   }
